* {
  box-sizing: border-box;
}

main {
  width: 900px;
  background-color: pink;
  height: 100vh;
  margin: 0 auto;
}













/* CLASS STYLING */
.gameBoard {    /* user target selection all divs */
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 25%;

}


.gameBoard div {
  width: 60%;
  border: 1px solid black;

}


.row {
  display: flex;
  width: 70%;
}

















.submitGuess {      /* submit guess individual div */
  height: 10%;
  width: 10%;
  margin: 10px;
  border: 1px solid black;
  display: flex;
}


.resultsContainer {   /* results boxes all divs */
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  align-items: center;
  justify-content: center;
}

.resultsContainer div {    /* results boxes individual divs */
  /* border-radius: 50%; */
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: 5px;
}






.userSelectButtons {    /* select buttons all divs */
  display: flex;
  align-items: center;
}

.userSelectButtons div {   /* select buttons individual divs */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
}









/* ACTIVE CLASS */
.active {
  border:5px solid blue !important;
  border-radius: 10px;

}













/* hide */

.hidden {
  display: none;
}












/*colors classes */

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

















/* winner box */

#winner p {
  font-size: 60px;
  background-color: red;
  border: 5px solid yellow;
  text-align: center;
  height: 400px;
  width: 900px;
  position: absolute;
  top: 50px;


}
