* {
  box-sizing: border-box;
}

body {
  /* background-color: #00CC00; */
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: #24a2f0;
  height: 100%;
}
header {
  text-align: center;
}

header img {
  display: inline-block;
  /* max-height: 100%; */

}

/****************** CLASS STYLING ******************/

.gameBoard {    /* user target selection all divs */
  display: flex;
  flex-wrap: wrap;
  width: 76%;
}

.gameBoard div {
  width: 100%;
}

.row {
  display: flex;
  /* width: 70%;
  height: 11%; */
}


.space {
  border: 1px solid black;
  border-radius: 50%;
  margin: 7px;
  height: auto;
}

.space:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

div.resultsContainer {   /* results boxes all divs */
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

div.resultsContainer:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.resultsContainer div {    /* results boxes individual divs */
  border-radius: 50%;
  width: 30%;
  height: auto;
  border: 1px solid black;
  margin: 2px;
}

.resultsContainer div:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}


.userSelectButtons {    /* select buttons all divs */
  display: flex;
}

.userSelectButtons div {   /* select buttons individual divs */
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.submitGuess {      /* submit guess individual div */
  padding: 2px;
  font-family: 'Bungee Shade', cursive;
  width: 13%;
  margin: 5px 2px 0 4px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  text-align: center;
  font-size: 10px;
  color: black;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: black;
}

.submitGuess:hover {
  background-color: green;
  color: white;
}



/**************** ACTIVE CLASS *******************/
.activeRow{
  background-color: rgba(204,204,204,0.4);
}

.activeCircle {
  border: 3px solid white !important;
  margin: 6px;
}
/***************** HIDE CLASS ********************/
.hidden {
  display: none !important;
}
/*************** COLORS CLASSES *******************/

.green {
  background-color: #43ff14;
  border-radius: 50%;
}

.orange {
  background-color: orange;
  border-radius: 50%;
}


.red {
  background-color: red;
  border-radius: 50%;
  margin: 8px;
}

.yellow {
  background-color: yellow;
  border-radius: 50%;
  margin: 8px;
}

.blue {
  background-color: blue;
  border-radius: 50%;
  margin: 8px;
}

.black {
  background-color: black;
  border-radius: 50%;
  margin: 8px;
}



/*****************  WINNER BOX *********************/
#winner {
  margin: 0 auto;
  font-family: 'Bungee Shade', cursive;
  padding-top: 10px;
  font-size: 50px;
  background-color: green;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: 194px; */
  left: 0;
  align-items: center;
  justify-content: center;
}


/*****************  LOSER BOX *********************/
#loser {
  margin: 0 auto;
  font-family: 'Bungee Shade', cursive;
  padding-top: 10px;
  font-size: 50px;
  color: white;
  background-color: black;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: 194px; */
  left: 0;
  align-items: center;
  justify-content: center;
}


.playAgainButton {
  background-color: red;
  padding: 10px;
  border-radius: 15px;
  margin: 30px auto;
  font-size: 24px;
  width: 46%;
  cursor: pointer;
}




/***************** MEDIA QUERIES *********************/

@media only screen and (max-width: 340px){
  div.resultsContainer {
    width: 100%;
  }

  header img {
    max-width: 200px;
  }

  .userSelectButtons div {
    border-radius: 50%;
    height: 25px;
    width: 25px;
  }

  .gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 72%;
  }
}


@media only screen and (min-width: 341px) and (max-width: 549px){
  div.resultsContainer {
    width: 100%;
  }

  header img {
    max-width: 250px;
  }

  .userSelectButtons div {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}


@media only screen and (min-width: 550px) and (max-width: 979px){
  .gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
  }

  header img {
    max-width: 250px;
  }

  .submitGuess {
    font-size: 12px;
  }
}




@media only screen and (min-width: 980px) and (max-width: 3540px) {


  .gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
  }




  div.resultsContainer {
    width: 100%;
  }

  .userSelectButtons div {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .submitGuess {
    font-size: 15px;
  }


}
